.stackItem--shelf-comprar{
  top:auto;
  left:0;
  bottom:0;
  width:100%;
  height:fit-content;
  display:none;
}

.stackItem--product {
  width: 100%;
  min-height: 257px
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}
